.movieModalWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    display: block;

    &__modal {
        width: 70%;
        height: 70%;
        padding: 2rem;
        position: absolute;
        background: var(--background);
        background-clip: padding-box;
        box-shadow: 0px 3px 6px #00000029;
        margin: auto;
        border-radius: 8px;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
            width: 288px;
            height: 550px;
            padding: 1rem;
            position: inherit;
            background: var(--white);
            background-clip: padding-box;
            box-shadow: 0px 3px 6px #00000029;
            margin: auto;
            border-radius: 4px;
            margin: 10px auto 0px;
            overflow: scroll;
        }
    }

    &__closeModal {
        position: absolute;
        top: 130px;
        background: none;
        right: 230px;
        z-index: 1;
        border: none;
    }

    .bookInfo {
        display: flex;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &__description {
            p {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 1rem;
                line-height: 20px;
                color: var(--gray-400);
                margin-top: -5px;
                overflow: auto;
                height: 70px;
                line-height: 23px;
            }
        }

        &__image {
            padding: 20px;

            img {
                height: 360px;
                width: 270px;
                filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.3));

                @media screen and (max-width: 768px) {
                    height: 351px;
                    width: 240px;
                }
            }
        }

        &__details {
            padding: 20px;

            @media screen and (max-width: 768px) {
                padding: 0 0 0 10px;
            }

            h1 {
                font-family: "Poppins";
                font-size: 28px;
                color: var(--gray-800);
                line-height: 30px;
                margin-bottom: 0;
            }

            small {
                font-family: "Poppins";
                font-weight: 400;
                color: var(--main);
                font-size: 12px;
                line-height: 20px;
            }

            h2 {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 1rem;
                line-height: 28.5px;
            }

            .summaryContainer {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 170px 1fr;
                column-gap: 10px;
                row-gap: 5px;
            }

            footer {
                margin-top: 20px;

                h2 {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
            }
        }
    }

}